* {
  font-family: "Roboto", sans-serif;
}

$primary-colour:#9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

@mixin card-shadow {
  box-shadow: 0px 4px 8px 1px lightgrey;
}

@mixin card-shadow-dark {
  box-shadow: 0px 4px 8px 1px rgb(142, 142, 142);
}

@mixin logo-shadow {
  box-shadow: 0 4px 6px -6px rgb(119, 118, 118);
}

@mixin gradient {
  background-image: linear-gradient(to bottom right, $secondary-color,$primary-colour );
}

@mixin gradient-darker {
  background-image: linear-gradient(to bottom right, #ff2ec5 ,#732acb);
}

@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 40%;
  }
  50% {
    transform: scale(1.3);
    opacity: 80%;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}


body {
margin: 0px;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  animation: dissolve 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 15px solid #99e2d0;
  border-top: 15px solid #ff79da;
  border-radius: 50%;
  animation: spin 2s ease infinite, dissolve 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dissolve {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    z-index: -1;
  }
}
a {
  text-decoration: none;
}

.text {
  margin-left: 15px;

  &--white {
    color: white;
    text-align: center;
  }

  &--black {
    color: black;
  }
}

.location__icon {
  padding-right: 15px;
}

header {
  width:100%;
  padding: 0px;
  display: flex;
  background-color: white;
}

.block__logo, .logo_link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;

  &--homepage{
  padding: 15px 0px;
  @include logo-shadow;
  order: 2;
  }

  &--otherpages {
    padding: 15px 35px 15px 0px;
    }
}


.arrow_back .fa-solid {
  font-size: 20px;
  color: #353535;
  padding: 20px 0px 25px 20px;
  -webkit-text-stroke: 0.6px;
}

.location {
  background-color: rgb(239, 239, 239);
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  order: 2;
}

.intro {
  padding: 15px;
  background-color:rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  padding: 5px;

  &__header, &__subheader {
    text-align: center;
    padding: 5px;
  }

  &__subheader {
    padding: 0px 20px 0px 20px;
    text-align: center;
    font-size: 18px;
    color: rgb(48, 48, 48);
    margin-bottom: 30px;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/0.7;
    margin-bottom: 0px;
    @media (min-width: 768px) {
      aspect-ratio: 4/1.5;
    }
  }
}

.button {
  @include gradient;
  @include card-shadow;
  border: none;
  border-radius: 50px;
  padding: 15px 20px;
  font-weight: 600;


  &--explore {
      width: 40%;
      margin: 0px auto 50px;
      @media (min-width: 768px) {
        width: 60%;
      }
  }

  &--order {
      width: 30%;
      margin: 0px auto 50px;
    }

  &:hover {
    @include gradient-darker;
    @include card-shadow-dark;
  }

}


.howto {
  margin-top: 50px;
  background-color: white;

  &__header {
    padding-left: 25px;
  }

  &__boxes {
    list-style: none;
    padding: 0px 10px 0px 20px;

 .box {
      border: none;
      border-radius: 15px;
      background-color: rgb(247, 247, 247);
      padding: 20px 10px;
      margin: 15px;
      @include card-shadow;
      counter-increment: inst;
      cursor: pointer;


  &:before {
      content: counter(inst);
      background: var(--primary-colour);
      color: white;
      font-style:inherit;
      font-size: 12px;
      border-radius: 50%;
      padding: 4px 8px;
      text-align: center;
      position: relative;
      left: -20px;
}

  &:hover { 
      background-color: #f5edff;
  }

  &:hover .box__icon--active {
      color: $primary-colour;
  }

  &:hover .text {
      color: black;
  }
}
}
}


.Restaurants {
  background-color:rgb(247, 247, 247) ;
  width: 100%;
  margin: 50px 0px 0px;
  padding-bottom: 50px;
  @media (min-width: 768px) {
    margin-top: 0px;
  }

  &__header {
    margin: 0px;
    padding: 50px 15px 20px 25px;
  }
}

.restaurant__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0px 15px;
}

.restaurant .card {
  font-size: 13px;
  border-radius: 15px;
  background-color: white;
  margin: 10px;
  @include card-shadow;
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.restaurant__image {
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  display: block;
  @media (min-width: 768px) {
    aspect-ratio: 2.5/1;
  }
}

.image_label {
  position: relative;
  display: inline-block;
}

.New_Label {
  border: none;
  border-radius: 3px;
  padding: 1.5% 7%;
  font-size: 13px;
  background-color: $tertiary-color;
  color:#008766;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-20%, 50%);
}

.restaurant__name {
  padding: 15px 12px;
  color: black;
  font-size: 15px;
  line-height: 20px;
}

.restaurant__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.restaurant__info .fa-heart {
  font-size: 30px;
  color: rgb(173, 173, 173);
  display: flex;
  justify-content: center;
  padding: 15px 25px;
}

.fa-heart:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include gradient;
    animation: grow 640ms ease-in-out;
    animation-fill-mode: forwards;
  }

/* other pages */


.the_menu {
  background-color: #f6f6f6;
  border-radius: 50px 50px 0px 0px;
  margin-top: 0px;
  padding: 10px 20px;
  position: relative;
  margin-top: -50px;
}

.menu__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header__text {
  font-family: 'Shrikhand', cursive;
}

.menu__header .header__icon {
  padding: 0px 15px;
  color:rgb(173, 173, 173);
}

.menu__subheader {
  color: #7b7b7b;
  position: relative;
}

.menu__subheader hr {
  border: 2px solid var(--tertiary-color);
  width: 37px;
  position: absolute;
  top: 80%;
  left: 0;
  transform: translateY(-50%);
}

.desserts__section, .main_dish__section, .entrees__section {
  margin: 0px 0px 50px 0px;
}

.menu__item {
  border: none;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0px 0px 15px 0px;
  padding: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 8px 1px lightgrey;
  animation: fade-up 2000ms ease-in-out;
  animation-fill-mode: backwards;
}
@keyframes fade-up {
  0% {
    opacity: 0%;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu__item:nth-child(1) {
  animation-delay: 0s;
}
.menu__item:nth-child(2) {
  animation-delay: 0.25s;
}
.menu__item:nth-child(3) {
  animation-delay: 0.5s;
}
.menu__item:nth-child(4) {
  animation-delay: 0.75s;
}

.menu__price {
  display: flex;
  align-items: flex-end;
  transition: transform 0.3s ease-in-out;
}
.menu__block-check {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-out;
  transform: translateX(100%);
}
.menu__block {
  width: 100%;
  height: 100%;
  background-color: #99e2d0;
  position: relative;
  overflow: auto;
  z-index: 1;
}

.menu__text {
  transition: max-width 0.3s ease-in-out;
}

.menu__check {
  color: white;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-180deg);
  transition: transform 0.3s ease-in-out;
}
.fa-circle-check {
  font-size: 30px;
}

.menu__item:hover {

  & .menu__block-check {
  transform: translateX(0%);
  }

  & .menu__check {
  transform: translate(-50%, -50%) rotate(0deg);
}

  & .menu__price {
  transform: translateX(-200%);
  @media (max-width: 350px) and (max-width: 399px){
      transform: translateX(-100%);
    }
  @media (min-width: 400px) and (max-width: 499px) {
      transform: translateX(-150%);
    }
    @media (min-width: 500px) and (max-width: 620px) {
        transform: translateX(-250%);
      }
    @media (min-width: 621px) and (max-width: 767px) {
        transform: translateX(-350%);
      }
    @media (min-width: 1100px) {
        transform: translateX(-270%);
      }
    }

  & .menu__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
}
}



.button-container {
  text-align: center;
}


/* all footers */  

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 25px;
  background-color:#353535;
  color: white;
  line-height: 30px;
}

.logo__image--white {
max-width: 150px;
height: 30%;
filter:invert(100%)
}

footer a {
color: white;
}

.footer_text {
  cursor: pointer;
}

@media (min-width: 768px) {

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 50px;
}

.intro, .howto {
  flex-basis: 50%;
  justify-content: center;
  align-content: center;
  margin-top: 0px;
  background-color: white;
}

.restaurant {
  flex-basis: 50%;
}

.the_menu_sections {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.desserts__section, .main_dish__section, .entrees__section {
  flex-basis: 45%;
}

}